<!DOCTYPE html>
<html>
  <head>
    <title>tweetme</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-fixed-top navbar-transparent" role="navigation">
        <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand">tweetme</a>
        </div>
      </div>
    </nav>
    <div class="wrapper">
      <div class="parallax filter-black">
          <div class="parallax-image"></div>             
          <div class="small-info">
            <div class="col-sm-10 col-sm-push-1 col-md-6 col-md-push-3 col-lg-6 col-lg-push-3">
              <div class="card-group animated flipInX">
                <div class="card">
                  <div class="card-block">
                    <div class="center">
                      <h4 class="m-b-0"><span class="icon-text">Login</span></h4>
                      <p class="text-muted">Access your account</p>
                    </div>
                    <%= form_tag('users/login', remote: true) do %>
                      <div class="form-group">
                        <input type="text" name="username" class="form-control" placeholder="Username" required>
                      </div>
                      <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password" required>
                        <div class="clearfix"></div>
                      </div>
                      <button type="submit" class="btn btn-azure">Login</button>
                    <% end %>
                    <div id="result_login"></div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-block center">
                    <h4 class="m-b-0">
                      <span class="icon-text">Sign Up</span>
                    </h4>
                    <p class="text-muted">Create a new account</p>
                    <%= form_tag('users/create', remote: true) do %>
                      <div class="form-group">
                        <input type="text" name="fullname" class="form-control" placeholder="Full Name" required>
                      </div>
                      <div class="form-group">
                        <input type="text" name="username" class="form-control" placeholder="Username" required>
                      </div>
                      <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password" required>
                      </div>
                      <div class="form-group">
                        <input type="password" name="confirm" class="form-control" placeholder="Confirm Password" required>
                      </div>
                      <button type="submit" class="btn btn-azure">Register</button>
                    <% end %>
                    <div id="result_register"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>

      <footer class="footer">
        <div class="container">
          <p class="text-muted"> Copyright &copy; 2016, TV Team - All rights reserved </p>
        </div>
      </footer>
    </div>
  </body>
</html>
